<form action="/registrar" method="post">

    <input type="text" name="nombre" placeholder="Digite nombre"><br>
    <input type="text" name="pApellido" placeholder="Digite primer apellido"><br>
    <input type="text" name="sApellido" placeholder="Digite SEGUNDO apellido"><br>
    <input type="text" name="codigo" placeholder="Digite codigo"><br>
    <input type="text" name="correo" placeholder="Digite correo"><br>
    <input type="text" name="telefono" placeholder="Digite telefono"><br>
    <input type="text" name="fechaNac" placeholder="Digite fecha nacimiento"><br>
    <input type="submit" name="aceptar" value="Registrar">

</form>